body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background:#183945;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    background-image: linear-gradient(135deg,#183945, rgba(30, 143, 255, 0.742));
}
header img{
    margin: 15%;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgb(23, 108, 194);
}
header div{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: end;
    width: 40%;
    margin-right: 15%;
}
header div a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
div.container{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}
form{
    background: rgba(245, 245, 245, 0.452);
    padding: 20px;
}
legend{
    font-size: 35px;
    font-weight: bolder;
}
fieldset{
    display: grid;
    border: 5px outset rgb(22, 87, 153);
}
#advertencia {
    display: none;
    margin: 0px;
    padding: 0px;
}
select,input,label{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    border: 0;
    padding: 10px;
}
input[type="submit"]{
    border-radius: 5px;
    width: 50%;
    background: #0e4275;
    color: white;
}
input[type="submit"]:active{
    background: white;
    color: #0e4275;
}