body{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
form{
    border: 10px inset black;
    padding: 20px;
}