body{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background:#183945;
}
form{
    border: 10px outset black;
    padding: 20px;
}
fieldset{
    border: 5px outset brown;
}